[submodule "Finished_projects/minishell"]
	path = Finished_projects/minishell
	url = https://github.com/tmanso9/minishell.git

[submodule "Finished_projects/libft"]
	path = Finished_projects/libft
	url = https://github.com/tmanso9/libft.git

[submodule "Finished_projects/ft_printf"]
	path = Finished_projects/ft_printf
	url = git@github.com:tmanso9/ft_printf.git

[submodule "Finished_projects/gnl"]
	path = Finished_projects/gnl
	url = git@github.com:tmanso9/get_next_line.git
[submodule "Finished_projects/fract-ol"]
	path = Finished_projects/fract-ol
	url = git@github.com:tmanso9/fract-ol.git
